.d-flex{
    flex-grow: 1;
    display: flex;
}


.flex{
    flex:1;
}

.flex-column{
    flex-direction: column;
}


.text-center{
    text-align: center;
}

.buttonless{
    background-color: inherit;
    border: none;
}

.btn{
    cursor: pointer;
}

.text-center{
    text-align: center;
}