.d-flex{
    flex-grow: 1;
    display: flex;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.ml-auto{
    margin-left: auto;
}

.text-light{
    color: #b2b2b2;
}

.flex{
    flex:1;
}

.flex-column{
    flex-direction: column;
}


.text-center{
    text-align: center;
}

.buttonless{
    background-color: inherit;
    border: none;
}

.btn{
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.pb-1{
    padding-bottom: 7px;
}

.mb-1{
    margin-bottom: 7px;
}


.mb-2{
    margin-bottom: 14px;
}

.d-block{
    display: block;
}

.d-inline{
    display: inline-block;
}